<!-- ICONS LEFT / 3 COLUMN BOXES -->
<!--
<section class="how-it-works pt80 pb70">
   <div class="container">
      <header class="section-header text-center mb60">
         <h2 class="brandon-text-medium">Everything you need to save money on healthcare. In one place.</h2>
         <h3>All inclusive healthcare advocacy package includes...</h3>
      </header>
      <div class="flex-row row reasons-check-boxes">
         <div class="col-sm-4">
            <span class="works-icon-box-left">
            <i class="fa fa-stethoscope service-icon category-icon"></i>
            </span>
            <span class="works-icon-box-right">
               <h4>TelaDoc</h4>
               <p>You can have 24/7 Access To A Doctor with no consultation fee whenever and wherever you are. It’s as easy as calling your mom who happens to have a medical degree.</p>
            </span>
         </div>
         <div class="col-sm-4">
            <span class="works-icon-box-left">
            <i class="lnr lnr-file-search service-icon category-icon"></i>
            </span>
            <span class="works-icon-box-right">
               <h4>Hearing Aids</h4>
               <p>Want to save big on hearing aids? You’ll save 35% at retail locations nationwide.</p>
            </span>
         </div>
         <div class="col-sm-4">
            <span class="works-icon-box-left">
            <i class="lnr lnr-pills service-icon category-icon"></i>
            </span>
            <span class="works-icon-box-right">
               <h4>Dental</h4>
               <p>You can save 15% to 50% on visits to the Dentist with the Cleanbill Savings Card. We have over 161,000 dental practice locations worldwide. You will smile with confidence again!</p>
            </span>
         </div>
         <div class="col-sm-4">
            <span class="works-icon-box-left">
            <i class="lnr lnr-pills service-icon category-icon"></i>
            </span>
            <span class="works-icon-box-right">
               <h4>Chiropractic</h4>
               <p>Still have back and neck issues? Get a free consultation and 50% off diagnostic services and X-rays performed on-site , 30% off treatments and other services by joining CleanBill. Get relief from back and joint pain, headaches and more with no limit on the number of visits.</p>
            </span>
         </div>
         <div class="col-sm-4">
            <span class="works-icon-box-left">
            <i class="lnr lnr-eye service-icon category-icon" style="line-height: 0.9;"></i>
            </span>
            <span class="works-icon-box-right">
               <h4>Vision</h4>
               <p>By signing up for our subscription, you will save 10% to 60% on glasses, contacts, laser surgery, exams and even designer eyewear at locations including LensCrafters, Pearle Vision, Visionworks, JCPenney, Sears, Target, and more.</p>
            </span>
         </div>
         <div class="col-sm-4">
            <span class="works-icon-box-left">
            <i class="lnr lnr-file-search service-icon category-icon"></i>
            </span>
            <span class="works-icon-box-right">
               <h4>Medical Bill Advocate</h4>
               <p>Average savings of 60% per case. Never have to deal with providers, or health insurance again. Save time and a lot of money by using our expert advocates.</p>
            </span>
         </div>
         <div class="col-sm-4">
            <span class="works-icon-box-left">
            <i class="lnr lnr-file-search service-icon category-icon"></i>
            </span>
            <span class="works-icon-box-right">
               <h4>Lab Testing</h4>
               <p> Know the numbers! Help monitor your health with 10% to 80% off typical costs of routine lab work.</p>
            </span>
         </div>
         <div class="col-sm-4">
            <span class="works-icon-box-left">
            <i class="lnr lnr-file-search service-icon category-icon"></i>
            </span>
            <span class="works-icon-box-right">
               <h4>MRI & CT Scans</h4>
               <p>Save 50% to 75% on usual charges for MRI, CT scans and more at thousands of credentialed radiology centers nationwide.</p>
            </span>
         </div>
         <div class="col-sm-4">
            <span class="works-icon-box-left">
            <i class="lnr lnr-pills service-icon category-icon"></i>
            </span>
            <span class="works-icon-box-right">
               <h4>Pharmacy</h4>
               <p>You can  save 10% to 85% on most prescriptions at over 60,000 pharmacies. Let the savings begin by signing up for CleanBill.</p>
            </span>
         </div>
      </div>
   </div>
</section>
-->
