@font-face {
  font-family: 'Myriad Set Pro';
  src: url('myriad-set-pro_semibold.eot'); /* IE9 Compat Modes */
  src: url('myriad-set-pro_semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('myriad-set-pro_semibold.woff') format('woff'), /* Modern Browsers */
       url('myriad-set-pro_semibold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('myriad-set-pro_semibold.svg#671d5eee5ee727f067519739df487e64') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Myriad Set Pro';
  src: url('myriad-set-pro_text.eot'); /* IE9 Compat Modes */
  src: url('myriad-set-pro_text.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('myriad-set-pro_text.woff') format('woff'), /* Modern Browsers */
       url('myriad-set-pro_text.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('myriad-set-pro_text.svg#e651b61eaa5a6afdfe7975960951e858') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Myriad Set Pro';
  src: url('myriad-set-pro_thin.eot'); /* IE9 Compat Modes */
  src: url('myriad-set-pro_thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('myriad-set-pro_thin.woff') format('woff'), /* Modern Browsers */
       url('myriad-set-pro_thin.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('myriad-set-pro_thin.svg#2fde7f337653a6d2c164357d737faaaf') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

